{% extends "base.html" %}

{% block content %}
<h1>{{error}}</h1>
{{post.render() | safe}}
<a href="/blog/{{id}}/editpost">edit</a>
<a href="/blog/{{id}}/deletepost">delete</a>

<p><a href="/blog/{{id}}/comment">Add Comment</a></p>
<p>Comments:</p>
{% for comment in comments %}
<div>
	<p>{{comment.content}}</p>
	<p>by {{comment.user}}</p>
	<a href="/blog/{{id}}/editcomment/{{comment.key().id()}}">Edit</a>
	<a href="/blog/{{id}}/deletecomment/{{comment.key().id()}}">Delete</a>
</div>
{% endfor %}
{% endblock %}